@import url('https://fonts.cdnfonts.com/css/modern-typewriter');
body {
  margin: 0;
  padding: 0;
  font-family: 'Modern Typewriter', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #22242a;
  color: white;
  height: 15vh;
}
.logo img {
  width: 200px;
}

.list ul {
  display: flex;
  column-gap: 40px;
}
.list ul li {
  list-style: none;
  cursor: pointer;
}
.list ul li:hover {
}

.icon ul {
  display: flex;
  column-gap: 20px;
  align-items: center;
  font-weight: bolder;
}
.icon li {
  list-style: none;
}
.icon img {
  width: 2em;
  cursor: pointer;
}
.icon a {
  box-sizing: border-box;
}

/**
MetaHead footer
*/
.footer {
  display: flex;
  background: #242e40;
  justify-content: space-between;
  border-top: 1px solid #505761;
  align-items: center;
  height: 4em;
  width: 100%;
}

.footer-left {
  padding-left: 1em;
}

.footer-heading {
  color: #cdd0cd;
}

.footer-right {
  display: flex;
  grid-column-gap: 14px;
  padding-right: 1em;
  align-items: center;
}

.footer-right a img {
  width: 2em;
}

@media only screen and (min-width: 700px) {
  /* Content first screen css */
  .content-first-page {
    height: 85vh;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .left-heading {
    text-align: center;
    font-size: 23px;
    margin: 0;
    color: #b3bebe;
  }

  .content-div-heading {
    display: flex;
    justify-content: center;
  }

  .left-div-info {
    height: 250px;
    text-align: justify;
    font-size: 22px;
    margin: 0;
    color: #b3bebe;
  }

  .left-div {
    width: 50%;
    padding: 70px 100px;
  }

  .right-div {
    width: 40%;
    padding: 70px;
  }

  .content-intro {
    height: 100vh;
    background-size: 100% 100%;
    display: flex;
  }

  .left-div-heading-image {
    width: 250px;
  }

  .nft-gif {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .icon {
    display: none;
  }
  .logo img {
    width: 92px;
  }
  .header {
    column-gap: 0px;
  }
  .list ul {
    column-gap: 14px;
  }

  /* lahori css */
  .left-heading {
    text-align: center;
  }

  .content-div-heading {
    display: flex;
    justify-content: center;
  }

  .left-div-heading-image {
    width: 250px;
  }
  .right-div {
    display: flex;
  }
  .left-div {
    padding: 20px;
  }
  .nft-gif {
    width: 82%;
    margin: auto;
    /* align-items: center; */
    padding: 20px;
  }
}
